.DS_Store

# local env files
.env.local
.env.*.local

# client
node_modules
client/dist
client/docs
client/yarn-cache
elm-stuff
elm.bin.js
.cache
elm-mdc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.db

# python
__pycache__/
*.py[cod]
.python-version
.venv

# terraform
/gcp/terraform/*
!/gcp/terraform/*.tf

# helm
helm/values.yaml

# rust
/plugin_market/target
/plugin_market/plugin_market.iml


