apiVersion: apps/v1
kind: Deployment
metadata:
  name: ipu-client
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: nginx-client
          image: docker.io/DOCKER_USERNAME/ipu-client:TAG
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: 50Mi
              cpu: 10m
