version: '3'
services: 
  server:
    build: app
    container_name: server
    ports: 
      - "8000:8000"
    env_file: app/.env
    environment:
      - PYTHONUNBUFFERED=1
    restart: on-failure
    entrypoint:
      - "./entry.sh"
      - "uwsgi"
      - "--ini"
      - "uwsgi.ini"

  db:
    container_name: db
    image: postgres:11.2
    env_file:
      - app/.env
