version: "3.7"
services:
  postgresql:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - log:/var/lib/postgresql/plugin_market

volumes:
  log:
